*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light-bg: #fff;
  --light-text: #000;
  --dark-bg: #222;
  --dark-text: #fff;

  --accent: #2080ff;

  /* For fallback */
  --bg: var(--light-bg);
  --text: var(--light-text);

  --bg: light-dark(var(--light-bg), var(--dark-bg));
  --text: light-dark(var(--light-text), var(--dark-text));

  font-family: "Noto Sans", "Segoe UI", "Roboto", Tahoma, sans-serif;
  font-size: 1.15rem;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  accent-color: var(--accent);

  color-scheme: light dark;
  background-color: var(--bg);
  color: var(--text);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  padding-block: 1em 0.5em;
  opacity: 0.8;
  margin-top: auto;
}

h1,
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  margin-block: 0.5em 0.25em;
}

p {
  margin-block: 0.25em;
}

hr {
  border: 1px solid #8886;
  border-top: none;
  margin-block: 1em;
}

.tech-tac {
  color: transparent;
  background-image: url("tech-tac.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-inline: 1em;
}

main {
  height: 100%;
}

button {
  appearance: none;
  border: none;
  outline: solid transparent 0px;
  background-color: #8886;
  border-radius: 12px;
  font-size: 1rem;
  padding: 8px 16px;
  user-select: none;
  vertical-align: middle;
  box-shadow: inset 0 2px 0 #fff4, 0 2px 3px #0006;
  transition: all 200ms ease;
}

button.primary {
  background-color: #26e;
  color: #fff;
}

button.email {
  background-color: #ee2;
  color: #000;
}
button.github {
  background-color: var(--text);
  color: var(--bg);
}
button.youtube {
  background-color: #ff0000;
  color: #fff;
  /* For contrast with the pure red */
  text-shadow: #000b 0 0px 2px;
}
button.discord {
  background-color: #5865F2; /* "Blurple" */
  color: #fff;
}

button:hover {
  /* Using a single-color translucent gradient as a background-image to
   blend it with background-color for browsers that don't support color-mix. */
  background-image: linear-gradient(#8886, #8886);
}

button:active {
  background-image: linear-gradient(#0002, #0002);
  box-shadow: none;
}

:is(button, #theme-toggle):focus-visible {
  outline: 6px solid var(--accent);
}

button:disabled {
  opacity: 0.75;
  pointer-events: none;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-top: 0.5em;
}

/* This is to prevent the parent anchor from receiving focus,
redirecting focus to the child button directly instead */
a:has(button) {
  display: contents;
}

.wrapper {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-inline: auto;
  gap: 1em;
  padding-inline: 1em;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0.75em;
  border-radius: 1em;
  background-color: #6662;
  width: 16em;
  box-shadow: 0 4px 4px #0003, inset 0 1px 0 0 #fff2;
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }
  section {
    width: 100%;
  }
}

section > img:first-child {
  width: 100%;
  aspect-ratio: 360/256;
  object-fit: cover;
  height: min-content;
  border-radius: 0.25em;
}

section > .button-group:last-child {
  margin-top: auto;
}

#messages {
  width: 100%;
}

#kao-banner{
  width: auto;
  max-width: 56em;
}

#theme-toggle {
  appearance: none;
  margin: 0;
  position: absolute;
  
  right: 1.5rem;
  top: 1.5rem;
  width: 2em;
  height: 2em;
  font-size: 1.25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;   
  text-align: center;

  outline: 0px solid transparent;

  transition: outline 200ms ease;
}

#theme-toggle:is(:hover, :focus-visible) {
  background-color: #8886;
}

#theme-toggle::after {
  content: "☀️";
}

/* Magic */
:root:has(#theme-toggle:checked) {
  color-scheme: dark;
}
@media (prefers-color-scheme: dark) {
  :root:has(#theme-toggle:checked) {
    color-scheme: light;
  }
}

#theme-selector {
  display: none;
}

@supports selector(:has(*)) and (color: light-dark(#fff, #000)) {
  #theme-selector {
    display: block;
  }
}