*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light-bg: #fff;
  --light-text: #000;
  --dark-bg: #222;
  --dark-text: #fff;

  --inv-bg: var(--dark-bg);
  --inv-text: var(--dark-text);

  --accent: #007fff;

  font-family: "Noto Sans", "Segoe UI", "Roboto", Tahoma, sans-serif;
  font-size: 14pt;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  accent-color: var(--accent);

  color-scheme: light dark;
  background-color: var(--light-bg);
  color: var(--light-text);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  padding-block: 16pt 8pt;
  opacity: 0.8;
  margin-top: auto;
}

h1,
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  margin-block: 8pt 2pt;
}

p {
  margin-block: 8pt;
}

hr {
  border: 1px solid #8886;
  border-top: none;
}

.tech-tac {
  color: transparent;
  background-image: url("tech-tac.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-inline: 16pt;
}

main {
  height: 100%;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background-color: #8886;
  border-radius: 4pt;
  font-size: 12pt;
  padding: 6pt 12pt;
  user-select: none;
  vertical-align: middle;
  box-shadow: inset 0 1pt 0 #fff2, 0 1pt 2pt #0002;
  transition: all 200ms ease;
}

button.primary {
  background-color: var(--accent);
  color: #fff;
}

button.email {
  background-color: #ee2;
  color: #000;
}
button.github {
  background-color: var(--inv-bg);
  color: var(--inv-text);
}
button.youtube {
  background-color: #ff0000;
  color: #fff;
  text-shadow: #000b 0 0px 2px;
}
button.discord {
  background-color: #5865F2; /* "Blurple" */
  color: #fff;
}

button:hover {
  /* Using a single-color translucent gradient as a background-image to
   blend it with background-color for browsers that don't support color-mix. */
  background-image: linear-gradient(#fff4, #fff4);
}

button:active {
  background-image: linear-gradient(#0002, #0002);
  box-shadow: none;
}

button:focus-visible {
  box-shadow: inset 0 1pt 0 #fff2, 0 1pt 2pt #0002, #888f 0 0 0 4pt;
}

button:disabled {
  opacity: 0.75;
  pointer-events: none;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8pt;
  padding-top: 8pt;
}

/* This is to prevent the parent anchor from receiving focus,
redirecting focus to the child button directly instead */
a:has(button) {
  visibility: hidden;
}
a button {
  visibility: visible;
}

.wrapper {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-inline: auto;
  gap: 12pt;
  padding-inline: 12pt;
}

section {
  display: flex;
  flex-direction: column;
  padding: 8pt;
  border-radius: 4pt;
  background-color: #8882;
  width: 200pt;
  box-shadow: 0 1pt 2pt #0004;
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }
  section {
    width: 100%;
  }
}

section > img:first-child {
  width: 100%;
  aspect-ratio: 360/256;
  object-fit: cover;
  height: min-content;
  border-radius: 4pt;
}

section > .button-group:last-child {
  margin-top: auto;
}

#theme-toggle {
  appearance: none;
  outline: none;
  position: absolute;
  background-color: transparent;
  right: 16pt;
  top: 16pt;
  width: 32pt;
  height: 32pt;
  font-size: 16pt;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;   
  text-align: center;
  line-height: 1;
}

#theme-toggle:is(:hover, :focus-visible) {
  background-color: #8886;
}

#theme-toggle::after {
  content: "☀️";
}

/* Magic */
:root:has(#theme-toggle:checked) {
  color-scheme: dark;
  background-color: var(--light-bg);
  color: var(--light-text);
  --inv-bg: var(--dark-bg);
  --inv-text: var(--dark-text);
}
@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    --inv-bg: var(--light-bg);
    --inv-text: var(--light-text);
  }
  :root:has(#theme-toggle:checked) {
    color-scheme: light;
  }
}

@supports not selector(:has(*)) {
  /* Hide the useless button! */
  #theme-selector{
    display: none;
  }
}